<div id="disqus_thread"></div>
<script type="text/javascript">

$(document).ready(function () {
    {% block config_variables %}
        var disqus_shortname = '{{ shortname }}';
        var disqus_public_key = '{{ public_key }}';
        {{ config|safe}}
    {% endblock %}
    var threadUrl = 'link:' + $('.show-comments').attr('data-disqus-url');

    $.ajax({
        type: 'GET',
        url: 'https://disqus.com/api/3.0/threads/set.jsonp',
        data: { api_key: disqus_public_key, forum: disqus_shortname, thread: threadUrl },
        cache: false,
        dataType: 'jsonp',
        success: function(result) {
            if (result.response.length === 1) {
                btnText = 'Show Comments (' + result.response[0].posts + ')';
                $('.show-comments').html(btnText);
            }
        }
    });

    $('.show-comments').on('click', function() {
        $.ajax({
            type: "GET",
            url: "https://" + disqus_shortname + ".disqus.com/embed.js",
            dataType: "script",
            cache: true
        });
        $(this).fadeOut();
    });

    if(/\#comment/.test(location.hash)){
        $('.show-comments').trigger('click');
    }
});

</script>
<button class="show-comments btn btn-info btn-block" data-disqus-url="{{ disqus_url }}"><span class="glyphicon glyphicon-comment"></span> View Comments</button>
